<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<body>
    <div id="app" :class="['app', dragging ? 'dragging' : '' ]" :tabindex="alert.open ? -1 : false">
        <app-modal v-if="alert.open" :alert="alert" @close="closeAlert" @refresh="refresh"></app-modal>
        <app-intro v-if="!started" :loading="loading" :authenticated="authenticated" @connect="connect"></app-intro>
        <app-ending v-else-if="completed" :authenticated="authenticated"></app-ending>
        <template v-else>
            <header class="app-header">
                <h1 class="app-header__logo" v-for="t in texts.appTitle" v-html="t"></h1>
                <aside class="app-header__actions">
                    <button class="btn-secondary" @click="alertSteps">
                        <span v-for="t in texts.infoButton" v-html="t"></span>
                    </button>
                    <button :class="[ 'btn-primary', !finishedSteps ? 'btn-primary--disabled' : '' ]" :disabled="loading" class="btn-primary" @click="finish">
                        <span v-for="t in texts.finishButton" v-html="t"></span>
                    </button>
                </aside>
            </header>
            <section class="app-body">
                <aside class="app-sidebar">
                    <h2 class="app-sidebar__title" v-for="t in texts.sidebarTitle" v-html="t"></h2>
                    <p class="app-sidebar__subtitle" v-html="groupedCardsCounter"></p>
                    <vddl-list
                        class=""
                        :list="stack"
                        :allowed-types="['containerType']"
                        :external-sources="true">
                        <vddl-draggable
                            class=""
                            v-for="(container, index) in stack"
                            disable-if="true"
                            :wrapper="stack"
                            :type="'containerType'"
                            effect-allowed="move">
                            <vddl-list
                                :class="{ 'card-group__area': true, 'card-group__area--empty': container.list.length <= 1 }"
                                :list="container.list"
                                :horizontal="true"
                                :allowed-types="['itemType']"
                                :external-sources="true">
                                <vddl-draggable
                                    v-for="(item, number) in container.list"
                                    :key="item.id"
                                    class=""
                                    :draggable="item"
                                    :type="'itemType'"
                                    :dragstart="handleDragstart"
                                    :dragend="handleDragend"
                                    effect-allowed="move"
                                    :index="number"
                                    :moved="cardMoved"
                                    :wrapper="container.list">
                                    <app-card
                                        :key="item.id"
                                        :card="item"
                                        @alert="showSimpleAlert"
                                        ></app-card>
                                </vddl-draggable>
                            </vddl-list>
                        </vddl-draggable>
                    </vddl-list>

                </aside>
                <main class="app-main">

                    <header class="app-stepper">
                        <article :class="{'app-step': true, 'animate': animateStep}" @animationend="animateStep = false">
                            <template v-for="step in activeSteps">
                                <h2 class="app-step__title" v-for="t in step.title" v-html="t"></h2>
                                <div class="app-step__text">
                                    <p v-for="t in step.text" v-html="userNameText(t)"></p>
                                </div>
                            </template>
                        </article>
                    </header>

                    <vddl-list
                        class="app-groups"
                        :list="groups"
                        :allowed-types="['containerType']"
                        :external-sources="true">
                        <vddl-draggable
                            v-for="(group, index) in groups"
                            :class="group.list.length ? 'card-group' : 'drop-group'"
                            :disable-if="group.list.length == 0"
                            :key="group.id"
                            :index="index"
                            :data-index="index"
                            :draggable="group"
                            :dragstart="handleDragstart"
                            :dragend="handleDragend"
                            :wrapper="groups"
                            :type="'containerType'"
                            :moved="groupMoved"
                            effect-allowed="move">
                            <vddl-nodrag class="nodrag">
                                <vddl-handle
                                    :handle-left="20"
                                    :handle-top="20"
                                    v-if="group.list.length"
                                    class="card-group__handle">
                                    <img
                                    class=""
                                    src="img/handle.svg" alt="Handle" />
                                </vddl-handle>
                                <input
                                    v-if="group.list.length"
                                    class="card-group__title"
                                    type="text"
                                    :name="`title-${group.id}`"
                                    @click="$event.target.focus(); $event.target.setSelectionRange(0, $event.target.value.length)"
                                    @keyup.enter="$event.target.blur()"
                                    v-model="group.title"
                                    :placeholder="texts.cardGroupTitlePlaceholder[0]" />
                                <hr
                                    v-if="group.list.length"
                                    class="card-group__hr" />
                                <header
                                    v-if="group.list.length"
                                    class="card-group__divider">
                                    <p v-for="t in texts.cardTopDivider" v-html="t"></p>
                                </header>
                                <vddl-list
                                    class="card-group__area"
                                    :list="group.list"
                                    :horizontal="true"
                                    :allowed-types="['itemType']"
                                    :external-sources="true">
                                    <div
                                        v-if="!group.list.length"
                                        class="drop-group__info"
                                        v-for="t in texts.newCardGroup" v-html="t"></div>
                                    <vddl-draggable
                                        v-for="(item, index) in group.list"
                                        :key="item.id"
                                        class=""
                                        :disable-if="group.list.length == 0"
                                        :draggable="item"
                                        :dragstart="handleDragstart"
                                        :dragend="handleDragend"
                                        :type="'itemType'"
                                        :moved="cardMoved"
                                        effect-allowed="move"
                                        :index="index"
                                        :wrapper="group.list">
                                        <app-card
                                            :key="item.id"
                                            :card="item"
                                            @alert="showSimpleAlert"
                                            ></app-card>
                                    </vddl-draggable>
                                </vddl-list>
                                <footer
                                    v-if="group.list.length"
                                    class="card-group__divider">
                                    <p v-for="t in texts.cardBottomDivider" v-html="t"></p>
                                </footer>
                                <button
                                    v-if="group.list.length"
                                    @click="deleteGroup(group, index)"
                                    class="btn-icon card-group__close">
                                    <img src="img/close-btn.svg" alt="Delete group" />
                                </button>
                            </vddl-nodrag>
                        </vddl-draggable>
                    </vddl-list>

                </main>
            </section>
        </template>
    </div>

    <!-- Load scripts -->
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/vddl.js"></script>
    <script type="text/javascript" src="js/texts/texts.js"></script>
    <script type="text/javascript" src="js/components/app-intro.js"></script>
    <script type="text/javascript" src="js/components/app-ending.js"></script>
    <script type="text/javascript" src="js/components/app-card.js"></script>
    <script type="text/javascript" src="js/components/app-modal.js"></script>
    <script type="text/javascript" src="js/components/app.js"></script>
    <script type="text/javascript" src="js/DragDropTouch.js"></script>
</body>

</html>
